{% extends 'base.html' %}
{% block title %} SHOPEE STATISTIC {% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}
<form name='my form' action='.' method='POST'>
{% csrf_token %}
    <br/>
    : )<br/><br/>
    <label for='account'>輸入預統計蝦皮店家ID <span class="glyphicon glyphicon-search"></span></label>
    <input id='account' type='text' name='account'><br/><br/>
    <input type='submit' value='submit'>
    <input type='reset' value='reset'>
</form>
</div>
{% endblock %}
