{% extends 'base.html' %}
{% block title %} SHOPEE STATISTIC {% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}
<form name='my form' action='.' method='POST'>
{% csrf_token %}
    <br/>
    : )<br/><br/>
    <label for='ShopID'>Enter the Shopee shop ID <span class="glyphicon glyphicon-search"></span></label>
    <input id='ShopID' type='text' name='ShopID'><br/><br/>
    <label for='NumofProducts'>Enter the sequence of the products <span class="glyphicon glyphicon-search"></span></label>
    <input id='NumofProducts' type='text' name='NumofProducts'><br/><br/>
    <input type='submit' value='submit'>
    <input type='reset' value='reset'>
</form>
</div>
{% endblock %}
